.light-theme{

  --clr--background: #efbbcf!important;
  --clr--card: #ffd5cd;
  --clr--button: #c3aed6 !important;
}

.dark-theme{

  
  --clr--background: #ad6c80 !important;
  --clr--card: #ee99a0 !important;
  --clr--button:  #94b5c0 !important;
}




.App {
  display: flex;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--clr--background);
}

.App .card {

  margin-top:10%;
  min-width: 50vw;
  width: 100%;
   height: 68vh;
  text-align: center;
  background-color:var(--clr--card);
}

.is-info2{
  background-color: var(--clr--button) !important;
}

.is-info3{
  background-color: var(--clr--button) !important;
  font-size: 1.5rem !important;
}

label.radio {
  display: block;
  text-align: left;
  padding: 15px;
  margin-bottom: 5px;
  font-size: 20px;
}

label.radio+.radio {
  margin-left: 0;
}

label.radio input {
  margin-right: 10px;
}